<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobilike.example.com.seamlessandroiddemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SDMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleVideoActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_simple_video"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name="com.mobilike.seamless.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mobilike.seamless.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mobilike.seamless.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mobilike.seamless.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.mobilike.seamless.player.org.nexage.sourcekit.vast.activity.VASTActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SDTableActivity"
            android:label="@string/title_activity_sdtable" >
        </activity>
        <activity
            android:name=".SDFullPageAdActivity"
            android:label="@string/title_activity_sdfull_page_ad" >
        </activity>
        <activity
            android:name=".SDBannerActivity"
            android:label="@string/title_activity_sdbanner" >
        </activity>
        <activity
            android:name=".SDBannerInScrollActivity"
            android:label="@string/title_activity_sdmre" >
        </activity>
        <activity
            android:name=".SDAppearanceActivity"
            android:label="@string/title_activity_sdappearance" >
        </activity>
        <activity
            android:name=".SDGridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
    </application>

</manifest>
